{% extends 'base.html' %} 
{% load static %}

{% block content %}
<!-- Cards/Items for sale-->
<div class="container-fluid cards-container">
  <div class="opaque-overlay opaque-overlay-shop">&nbsp;</div>
  <div class="row">
    <form method="GET" action="{% url 'products' %}" class="search-form">

            <div class="input-group mb-3">
                <input type="text" name="q" minlength="3" placeholder="Search" class="form-control" >

                <div class="input-group-append">
    <button class="btn btn-warning btn-search" type="submit"><i class="fa fa-search left"></i></button>
  </div>
  <div class="input-group-append">
  {% for c in current_categories %}
   {% if c.name == "ammo" %}
    <a href="{% url 'products' %}?category=ammo&sort=price&direction=asc" class="nav-link non-active-link" data-toggle="tooltip" data-placement="bottom" title="Sort by price">
    <i class="fas fa-funnel-dollar" alt="Sort by price"></i></a>
    {% else %} 
    <a href="{% url 'products' %}?category=guns_parts&sort=price&direction=asc" class="nav-link non-active-link" data-toggle="tooltip" data-placement="bottom" title="Sort by price">
    <i class="fas fa-funnel-dollar" alt="Sort by price"></i></a>
    {% endif %}
    {% endfor %}
    {% if not current_categories %}
    <a href="{% url 'products' %}?sort=price&direction=asc" class="nav-link non-active-link" data-toggle="tooltip" data-placement="bottom" title="Sort by price">
    <i class="fas fa-funnel-dollar" alt="Sort by price"></i></a>
    {% endif %}
            </div>
            </div>
   
    </form>
</div>
<nav class="navbar nav-2">

{% for c in current_categories %}
{% if c.name == "ammo" %}
  <a class="nav-link active-link" href="{% url 'products' %}?category=ammo">Ammo</a>
  <a class="nav-link non-active-link" href="{% url 'products' %}?category=guns_parts">Guns & Parts</a>
{% elif c.name == "guns_parts" %}
  <a class="nav-link non-active-link" href="{% url 'products' %}?category=ammo">Ammo</a>
  <a class="nav-link active-link" href="{% url 'products' %}?category=guns_parts">Guns & Parts</a>
{% endif %}
{% endfor %}

{% if not current_categories %}
  <a class="nav-link non-active-link" href="{% url 'products' %}?category=ammo">Ammo</a>
  <a class="nav-link non-active-link" href="{% url 'products' %}?category=guns_parts">Guns & Parts</a>
{% endif %}


</nav>


  <div class="row cards-row">
  {% if products|length > 0 %}
    {% for product in products %}
 
    <div class="col-lg-3 col-md-4 col-xs-12 card">
    {% if product.image %}
    <a href="{% url 'product_detail' product.id %}">
      <img
        class="card-img-top"
        src="{{ MEDIA_URL }}{{ product.image }}"
        alt="{{ product.name }}"
      />
      </a>
      {% else %}
      <a href="{% url 'product_detail' product.id %}">
      <img
        class="card-img-top"
        src="{{ MEDIA_URL }}noimage.png"
        alt="{{ product.name }}"
      />
      </a>
    {% endif %}
      <div class="card-body d-flex flex-column">
          <div class="mt-auto">
        <h5 class="card-title">{{ product.name }}</h5>
        <p>{{ product.price }}</p>
        {% if product.is_available  %}
        <p class="stock-indicator-on d-flex flex-column">In Stock</p>
        {% else %}
        <p class="stock-indicator-off d-flex flex-column">Out of Stock</p>
        {% endif %}
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
            {% csrf_token %}
                <input class="form-control qty_input d-none" type="number"
                    name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                <input type="submit" class="btn btn-success mt-auto text-uppercase" value="Add to Bag">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    {% if request.user.is_superuser %}
        <a
          href="#"
          class="btn btn-warning edit-btn"
          >Edit Product <i class="fa fa-edit right"></i
        ></a>
        <button data-toggle="modal"
          data-target="#ConfirmDeleteModal{{ product.id }}"
          class="btn btn-danger delete-btn"
          >Remove Product <i class="fa fa-times-circle right"></i
        ></button>
  {% endif %}

      </div>
    </div>

{% if request.user.is_superuser %}
    <div
      class="modal fade"
      id="ConfirmDeleteModal{{ product.id }}"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Please Confirm</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete {{ product.name }}?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a href="{% url 'delete_product' product.id %}" type="button" class="btn btn-primary">Yes, I'm sure</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% endfor %}
  </div>
</div>
{% else %}

<div class="d-flex justify-content-center no-results">
  <h3 class="">No Results Found</h3>
  </div>
{% endif %}

<!-- Modal -->

{% endblock %}
